html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: Gotham Pro;
  src: url(../fonts/GothamPro/GothamPro.ttf);
  src: url(../fonts/GothamPro/GothamPro-Black.ttf);
  src: url(../fonts/GothamPro/GothamPro-Bold.ttf);
  src: url(../fonts/GothamPro/GothamPro-italic.ttf);
  src: url(../fonts/GothamPro/GothamPro-Light.ttf);
  src: url(../fonts/GothamPro/GothamPro-Medium.ttf);
}
/*         

-------------------------------------------------------------------------------------------------------------------

*/
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: url(../img/background/backgroundBlobs.svg);
}

form {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: absolute;
}

input {
  width: 552px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #EAEAF3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}
input:focus {
  border: 1px solid #17B7BB;
}

.inputWithIcon {
  position: relative;
}
.inputWithIcon input[type=text] {
  padding-left: 40px;
}
.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.inputWithIcon input[type=text]:focus + i {
  color: dodgerBlue;
}

.button {
  position: absolute;
  width: 158px;
  height: 56px;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  border-radius: 12px;
  color: #fff;
}
.button:hover {
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
          box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  border-radius: 12px;
}
.button:active {
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

input {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.field__lang {
  width: 122px;
  height: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 20px;
}

.globe__container {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang__button {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 30px;
  cursor: pointer;
}

.globe-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.buttonn__arrow {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #EAEAF3;
  border-radius: 50px;
  cursor: pointer;
}

.buttonn__arrow svg {
  display: block;
  position: relative;
  z-index: 4;
  width: 100%;
  fill: #BCBCC7;
}

.field__lang:hover .buttonn__arrow {
  background-color: #19B7BB;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.field__lang:hover .buttonn__arrow svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.buttonn__arrow:focus {
  background-color: #19B7BB;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.buttonn__arrow:focus.buttonn__arrow svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.field__lang:hover .lang {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.lang {
  margin-top: 12px;
  width: 122px;
  height: 104px;
  border-radius: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.lang-margin {
  margin: 10px 0;
}

.lang-svg {
  margin: 0 10px;
}

.lang__text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.lang__text:hover {
  color: #BCBCC7;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.lang__circle {
  opacity: 0;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: #19B7BB;
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-container .lang__circle {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 1;
}

.telegram-button {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #EAEAF3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 33px;
  cursor: pointer;
}

.telegramImg {
  padding-right: 16px;
}

.instButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
}
.instButton:hover {
  background-color: #17B7BB;
}
.instButton:active {
  background: #17B7BB;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.instButton2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.instImg {
  padding: 10px;
}
.instImg:hover {
  fill: white;
}

.tgButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
}
.tgButton:hover {
  background-color: #17B7BB;
}
.tgButton:active {
  background: #17B7BB;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.tgButton2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.tgImg {
  padding: 10px;
}
.tgImg:hover {
  fill: white;
}

.whatsappButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
}
.whatsappButton:hover {
  background-color: #17B7BB;
}
.whatsappButton:active {
  background: #17B7BB;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.whatsappButton2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.whatsappImg {
  padding: 10px;
}
.whatsappImg:hover {
  fill: white;
}

.menuButton {
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #17B7BB;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
}
.menuButton:hover {
  background-color: #17B7BB;
}
.menuButton:active {
  background: #17B7BB;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.menuicon {
  color: white;
}
.menuicon:hover {
  fill: white;
}

.mouse {
  cursor: pointer;
  display: block;
  position: relative;
  margin-top: 10rem;
  width: 48px;
  height: 72px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7D479), to(#EBBD46));
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.2);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.2);
  border-radius: 32px;
}

.roll {
  position: absolute;
  margin: 16px 0px 0 4px;
}

.mousea {
  display: block;
  width: 48px;
  height: 72px;
  border-radius: 32px;
}

.scroll {
  position: absolute;
  left: 46.92%;
  right: 47.08%;
  top: 19.89%;
  bottom: 60.3%;
  background: #FFFFFF;
}

.mouse:hover .scroll {
  top: 30.89%;
  bottom: 49.3%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*
------------------------------------------------------------------------------------------------------
MAIN  

*/
.wrapper {
  max-width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 960px;
  margin: 60px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
          box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  border-radius: 48px;
}
.content > .img {
  padding-top: 167px;
  padding-left: 96.1px;
  height: 626px;
  opacity: 0.25;
  -webkit-box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
  -webkit-filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 960px;
  margin: 60px;
}
.content1 > .img {
  padding-top: 167px;
  padding-left: 96.1px;
  width: 626px;
  height: 626px;
  opacity: 0.25;
  -webkit-box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
  -webkit-filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
}

.header {
  width: 1800px;
  height: 104px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  margin-left: 60px;
}

.topnav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  margin-left: 64px;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
nav a {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #252729;
}
nav a:hover {
  color: #17B7BB;
}

.nav__point {
  padding: 8px 24px 8px 24px;
}

.nav__rect {
  padding: 0 16px 0 16px;
}

.social {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 32px;
}

.social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inst__icon,
.tg__icon,
.whatsapp__icon {
  padding-right: 16px;
}

.main__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 250px 0 0 56px;
}
.main__text .h1 {
  width: 800px;
  height: 160px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #252729;
}
.main__text .h5 {
  width: 600px;
  height: 108px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #252729;
  margin-top: 32px;
}

.main__img {
  margin-top: 227px;
  margin-left: 888px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.main__buttons {
  height: 64px;
  margin-top: 40px;
}
.main__buttons .work_button {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: absolute;
  width: 246px;
  height: 64px;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}
.main__buttons .work_button:hover {
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
          box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  border-radius: 12px;
}
.main__buttons p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.history {
  padding-left: 270px;
}

.history_button {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  border: 0;
  width: 222px;
  height: 64px;
  cursor: pointer;
}
.history_button p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #252729;
}
.history_button:hover {
  -webkit-box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
          box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  border-radius: 12px;
}

/*
--------------------------------------------------------------------------------------------------------------
main - media

*/
@media screen and (max-width: 768px) {
  .content {
    border-radius: 16px;
    margin: 32px;
    height: 432px;
  }
  .content .img {
    width: 268px;
    height: 303px;
    padding-top: 96px;
    padding-left: 50px;
    opacity: 0.25;
    -webkit-box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
            box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
    -webkit-filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
  }

  .header {
    max-width: 100%;
  }
  .header .logo {
    margin-left: 32px;
  }
  .header .logo img {
    width: 208px;
    height: 24px;
  }

  .tgButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  }
  .tgButton:hover {
    background-color: #17B7BB;
  }
  .tgButton:active {
    background: #17B7BB;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .instButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  }
  .instButton:hover {
    background-color: #17B7BB;
  }
  .instButton:active {
    background: #17B7BB;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .instButton2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
  }

  .instImg {
    width: 16px;
    height: 14px;
    padding: 10px 8px;
  }
  .instImg:hover {
    fill: white;
  }

  .tgButton2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
  }

  .tgImg {
    width: 16px;
    height: 14px;
    padding: 10px 8px;
  }

  .whatsappButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  }
  .whatsappButton:hover {
    background-color: #17B7BB;
  }
  .whatsappButton:active {
    background: #17B7BB;
    -webkit-box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .whatsappButton2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
  }

  .whatsappImg {
    width: 16px;
    height: 14px;
    padding: 10px 8px;
  }
  .whatsappImg:hover {
    fill: white;
  }

  .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #FFFFFF;
    width: 100%;
    margin-right: 32px;
  }

  .social_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  nav {
    width: 100%;
  }
  nav .hide {
    display: none;
  }

  .main__text {
    width: 100%;
    margin: 104px 0 0 32px;
  }
  .main__text .h1 {
    width: 432px;
    height: 96px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.05em;
  }
  .main__text .h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    width: 360px;
    height: 96px;
    margin-top: 16px;
  }

  .main__buttons {
    height: 48px;
    margin-top: 24px;
  }
  .main__buttons .work_button {
    width: 210px;
    height: 48px;
  }
  .main__buttons .work_button p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .main__buttons .history {
    padding: 0;
    margin: 0;
  }
  .main__buttons .history_button {
    position: relative;
    width: 191px;
    height: 48px;
    margin-left: 226px;
  }
  .main__buttons .history_button p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .field__lang {
    width: 88px;
    height: 32px;
  }

  .globe__container {
    padding-top: 3px;
  }

  .globe-icon svg {
    padding: 3px;
    width: 16px;
    height: 16px;
  }

  .globe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .buttonn__arrow {
    width: 16px;
    height: 16px;
  }
  .buttonn__arrow svg {
    width: 8px;
    height: 4.5px;
    padding-left: 4px;
  }

  .lang__button {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    margin-right: 13px;
  }

  .main__img {
    width: 324px;
    height: 192px;
    margin-top: 128px;
    margin-left: 364px;
    position: absolute;
    z-index: -1000;
  }

  .menuButton {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    display: block;
    position: relative;
  }

  .menuicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7px;
  }

  /*
  -------------------------------------------------------------------------------------------------------------------
  CASES

  */
}
@media screen and (max-width: 768px) and (max-width: 320px) {
  .social_buttons {
    display: none;
  }

  .content {
    width: 280px;
    margin-top: 16px;
    margin-left: 20px;
  }
  .content .img {
    width: 248px;
    height: 248px;
    padding-top: 45px;
    padding-left: 16px;
  }

  .header {
    height: 72px;
  }
  .header .logo {
    margin-left: 16px;
  }
  .header .logo img {
    width: 128px;
    height: 15px;
  }

  .language__select {
    display: none;
  }

  .menuButton {
    width: 28px;
    height: 28px;
  }
  .menuButton .menuicon {
    width: 10.5px;
    height: 10.5px;
    margin-left: 9px;
    margin-top: 6px;
  }

  .main__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 68px;
    margin-left: 16px;
  }
  .main__text .h1 {
    width: 248px;
    height: 64px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
  .main__text .h5 {
    margin-top: 8px;
    width: 248px;
    height: 80px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .main__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }

  .work_button {
    width: 153px;
    height: 36px;
  }

  .history_button {
    width: 140px;
    height: 36px;
  }

  .main__img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #pages-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6.5rem;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
            box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    -webkit-backdrop-filter: blur(150px);
            backdrop-filter: blur(150px);
    border-radius: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .cases_h1 {
    padding-top: 8.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.05em;
    color: #252729;
  }
}
@media screen and (max-width: 768px) {
  .cases-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    height: 22.5rem;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
            box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    -webkit-backdrop-filter: blur(150px);
            backdrop-filter: blur(150px);
    border-radius: 24px;
  }
}
@media screen and (max-width: 768px) {
  .case {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
            box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
    border-radius: 12px;
    width: 26rem;
    height: 17.5rem;
    margin-right: 24px;
  }
  .case:first-child {
    margin-left: 32px;
  }
  .case .cases-logo {
    padding: 24px;
  }
  .case .case-text {
    padding-left: 24px;
    font-family: Gotham Pro;
  }
  .case .case-text .h1 {
    font-size: 18px;
    line-height: 32px;
  }
  .case .case-text span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  .case .case-text .h5 {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
  .case .case-text a {
    color: #252729;
  }
  .case .case-text a:hover {
    color: #17B7BB;
  }
  .case .case-text .details {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .case .case-text .details img {
    padding-left: 10.5px;
  }
}
@media screen and (max-width: 768px) {
  .all-cases {
    width: 416px;
    height: 280px;
    background: #17B7BB;
    -webkit-box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
            box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
    border-radius: 12px;
    margin-right: 32px;
  }
  .all-cases .circle {
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-top: 56px;
    margin-left: 148px;
  }
  .all-cases .arrow {
    margin: 28px;
  }
  .all-cases .all-cases-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .partners_h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.03em;
    color: #252729;
  }
}
@media screen and (max-width: 768px) {
  .partners {
    width: 1800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
            box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    -webkit-backdrop-filter: blur(150px);
            backdrop-filter: blur(150px);
    border-radius: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners img:first-child {
    padding-left: 80px;
  }
  .partners img:first-child:last-child {
    padding-right: 80px;
  }
  .partners img {
    padding-right: 162px;
  }
}
@media screen and (max-width: 768px) and (width: 768px) {
  .cases_h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
  }
}