@import "../scss/nullstyle.scss";
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Gotham Pro;
  src: url(../fonts/GothamPro/GothamPro.ttf);
  src: url(../fonts/GothamPro/GothamPro-Black.ttf);
  src: url(../fonts/GothamPro/GothamPro-Bold.ttf);
  src: url(../fonts/GothamPro/GothamPro-italic.ttf);
  src: url(../fonts/GothamPro/GothamPro-Light.ttf);
  src: url(../fonts/GothamPro/GothamPro-Medium.ttf);
}
$mcolor: #17B7BB;
$lg1: #BCBCC7;
$lg2: #EAEAF3;
$bcolor: #252729;
$tgcolor: #0088CC;
$mgrad: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
$ograd: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);

/*         

-------------------------------------------------------------------------------------------------------------------

*/

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
        &:focus {
            outline: none;
    }
  }

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
    background: url(../img/background/backgroundBlobs.svg);
}

form {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: white;
    position: absolute;
  }
  
input {
    width: 552px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid $lg2;
    box-sizing: border-box;
    border-radius: 12px;
        &:focus {
            border: 1px solid $mcolor;
    }
  }

.inputWithIcon {
    position: relative;
        input[type="text"] {
            padding-left: 40px;
    } 
        i {
            position: absolute;
            left: 0;
            top: 8px;
            padding: 9px 8px;
            color: #aaa;
            transition: 0.3s; 
    }
        input[type="text"]:focus + i {
            color: dodgerBlue;
    }
  }
  
.button {
  position: absolute;
  width: 158px;
  height: 56px;
  background: $mgrad;
  border-radius: 12px;
  color: #fff;
    &:hover {
        background: $mgrad;
        box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
        border-radius: 12px; 
    }

    &:active {
        background: $mgrad;
        box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
    }
  }
  
input {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  }
  
  .field__lang {
    width: 122px;
    height: 40px;
    border-radius: 20px;
    background: #FFFFFF;
box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
border-radius: 20px;
  }
  .globe__container{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lang__button{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
  }

  .globe-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .buttonn__arrow{
    width: 24px;
    height: 24px;
    border: none;
    background-color: #EAEAF3;
    border-radius: 50px;
    cursor: pointer;
  }
  .buttonn__arrow svg{
    display: block;
    position: relative;
    z-index: 4;
    width: 100%;
    fill: #BCBCC7;
  }

  .field__lang:hover .buttonn__arrow{
    background-color: #19B7BB;
    transition: all 0.5s ease 0s;
  }
  .field__lang:hover .buttonn__arrow svg {
    transform: rotate(180deg);
    fill: #fff;
    transition: all 0.5s ease 0s;
  }
  .buttonn__arrow:focus{
    background-color: #19B7BB;
    transition: all 0.5s ease 0s;
  }
  .buttonn__arrow:focus.buttonn__arrow svg {
    transform: rotate(180deg);
    fill: #fff;
    transition: all 0.5s ease 0s;
  }
  
  .field__lang:hover .lang {
    opacity: 1;
    transition: all 0.5s ease 0s;
  }
  
  .lang {
    margin-top: 12px;
    width: 122px;
    height: 104px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
  }
  .lang-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .lang-margin{
    margin: 10px 0;
  }
  .lang-svg {
    margin: 0 10px;
  }
  .lang__text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
  }
  .lang__text:hover{
    color: #BCBCC7;
    transition: all 0.5s ease 0s;
  }
  .lang__circle {
    opacity: 0;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #19B7BB;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lang-container  .lang__circle{
    transition: all 0.5s ease 0s;
    opacity: 1;
  }

.telegram-button {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid $lg2;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 33px;
    cursor: pointer;
  
  }
  
.telegramImg{
    padding-right: 16px;
  }

.instButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
.instButton2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    }
  
.instImg {
    padding: 10px;
    &:hover {
        fill:white; 
    }
  }

.tgButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
.tgButton2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    }
  
.tgImg {
    padding: 10px;
    &:hover {
        fill:white; 
    }
  }
  

.whatsappButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
.whatsappButton2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    }
  
.whatsappImg {
    padding: 10px;
    &:hover {
        fill:white; 
    }
  }

  .menuButton {
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: $mcolor;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
.menuicon {
  color: white;
    &:hover {
        fill:white; 
    }
  }


.mouse {
    cursor: pointer;
    display: block;
    position: relative;
    margin-top: 10rem;
    width: 48px;
    height: 72px;
    background: $ograd;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.2);
    border-radius: 32px;
    }
.roll {
    position: absolute;
    margin: 16px 0px 0 4px;
    }
.mousea {
    display: block;
    width: 48px;
    height: 72px;
    border-radius: 32px;
    }
.scroll {
    position: absolute;
    left: 46.92%;
    right: 47.08%;
    top: 19.89%;
    bottom: 60.3%;
    background: #FFFFFF;
    }
.mouse:hover .scroll {
    top: 30.89%;
    bottom: 49.3%;
    transition: 0.3s;
    }

  /*
  ------------------------------------------------------------------------------------------------------
  MAIN  
  
  */

* {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 960px;
  margin: 60px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 48px;
  >.img {
    padding-top: 167px;
    padding-left: 96.1px;
height: 626px;
opacity: 0.25;
box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
  }
}



.header {
  width: 1800px;
  height: 104px;
  position: absolute;
  display: flex;
  flex-grow: 1;
  align-items: center;
    .logo {
      margin-left: 60px;
    }
}

.topnav {

flex-grow: 1;
  display: flex;
  flex-grow: 1;
  margin-left: 64px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
    a {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $bcolor;
      &:hover {
        color: $mcolor;
      }
  }
}

.links {
   display: flex;
}

.nav__point {
  padding: 8px 24px 8px 24px;
}

.nav__rect {
  padding: 0 16px 0 16px;
}

.social {
  flex-grow: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 32px;
}

.social_buttons {
  display: flex;

}

.inst__icon, 
.tg__icon, 
.whatsapp__icon {
  padding-right: 16px;
}

.main__text {
  flex-direction: column;
  display: flex;
  position: absolute;
  margin: 250px 0 0 56px;
    .h1 {
      width: 800px;
height: 160px;
      font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: $bcolor;
    }
    .h5 {
      width: 600px;
height: 108px;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      color: $bcolor;
      margin-top: 32px;
    }
}

.main__img {
  margin-top: 227px;
  margin-left: 888px;
  display: flex;
  position: absolute;
}

.main__buttons {
  height: 64px;
  margin-top: 40px;
    .work_button {
      flex-grow: 0;
  position: absolute;
  width: 246px;
  height: 64px;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  border: 0;
  cursor: pointer;
      &:hover {
        background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
        box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
        border-radius: 12px;
      }
    }
      p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  flex: none;
  order: 0;
      }
    }

.history_button {
  background: #FFFFFF;
box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
border-radius: 12px;
border: 0;
width: 222px;
height: 64px;
cursor: pointer;
margin-left: 270px;
  p {
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
color: #252729;
  }
  &:hover {
box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
border-radius: 12px;
  }
}

/*
--------------------------------------------------------------------------------------------------------------
main - media

*/


@media screen and (max-width: 768px) {

  .content {
    border-radius: 16px;
    margin: 32px;
    height: 432px;
    .img {
      width: 268px;
      height: 303px;
      padding-top: 96px;
      padding-left: 50px;
      opacity: 0.25;
      box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
      filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
    }
  }


  .header {
    max-width: 100%;
      .logo {
        margin-left: 32px;
          img {
            width: 208px;
            height: 24px;
          }
    }
  }



  .tgButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
  .instButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
        &:hover {
            background-color: $mcolor;
        }
        &:active {
            background: $mcolor;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
  }
  
.instButton2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    }
  
.instImg {
  width: 16px;
  height: 14px;
    padding: 10px 8px;
    &:hover {
        fill:white; 
    }
  }

.tgButton2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    }

.tgImg {
  width: 16px;
  height: 14px;
  padding: 10px 8px;
}

.whatsappButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
      &:hover {
          background-color: $mcolor;
      }
      &:active {
          background: $mcolor;
          box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
      }
}

.whatsappButton2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  }

.whatsappImg {
  width: 16px;
  height: 14px;
  padding: 10px 8px;
  &:hover {
      fill:white; 
  }
}

  .social {
    justify-content: flex-end;
    align-items: end;
    display: flex;
    flex-grow: 0;
    background-color: #FFFFFF;
    width: 100%;
    margin-right: 32px;
  }

  .social_buttons {
    display: flex;

  }

  nav {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 12px 24px rgba(126, 120, 120, 0.25);
backdrop-filter: blur(150px);
border-radius: 16px;
    width: 704px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
  }

  .hide {
    display: none;
  }

  .main__text {
    width: 100%;
    margin: 104px 0 0 32px;
      .h1 {
        width: 432px;
        height: 96px;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.05em;
      }
      .h5 {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        width: 360px;
        height: 96px;
        margin-top: 16px;
      }
  }
  .main__buttons {
    height: 48px;
    margin-top: 24px;
      .work_button {
        width: 210px;
        height: 48px;

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
    }
      .history {
        padding: 0;
        margin: 0;

      }
      .history_button{
        position: relative;
        width: 191px;
        height: 48px;
        margin-left: 226px;
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
          }
      }
  }

  .field__lang {
    width: 88px;
    height: 32px;
  }

  .globe__container {
    padding-top: 3px;
  }

  .globe-icon {
    svg {
      padding: 3px;
      width: 16px;
    height: 16px;
    }
  }

  .globe__container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonn__arrow {
    width: 16px;
    height: 16px;
      svg {
        width: 8px;
        height: 4.5px;
        padding-left: 4px;
      }
  }
  .lang__button {
    font-weight: 300;
font-size: 12px;
line-height: 24px;
margin-right: 13px;
  }

  .main__img {
    margin-right: 16px;
    margin-top: 128px;
    margin-left: 364px;
    position: absolute;
    z-index: -1000;
  }

  .menuButton {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    display: block;
    position: relative;
  }

  .menuicon {
    display: flex;
    justify-content: center;
    margin-top: 7px;
  }

  @media screen and (max-width: 320px) {
    .social_buttons {
      display: none;
    }

    .content {
      width: 280px;
      margin-top: 16px;
      margin-left: 20px;
        .img {
          width: 248px;
          height: 248px;
          padding-top: 45px;
          padding-left: 16px;
        }
    }

    .header {
      height: 72px;
        .logo {
          margin-left: 16px;
          img {
            width: 128px;
            height: 15px;
        }
      }
    }
    .language__select {
      display: none;
    }

    .menuButton {
      width: 28px;
      height: 28px;
        .menuicon {
          width: 10.5px;
          height: 10.5px;
          margin-left: 9px;
          margin-top: 6px;
      }
    }

    .main__text {
      display: flex;
      flex-direction: column;
      margin-top: 68px;
      margin-left: 16px;
       .h1 {
          width: 248px;
          height: 64px;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.05em;
       }
       .h5 {
         margin-top: 8px;
         width: 248px;
         height: 80px;
         font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
       }
    }
    
    .main__buttons {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }

    .work_button {
      width: 153px;
      height: 36px;
      position: relative;
    }
    .history_button {
      width: 140px;
      height: 36px;
      margin-left: 0;
    }

    .main__img {
      display: none;
    }
  }
}


/*
-------------------------------------------------------------------------------------------------------------------
CASES

*/

.content1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  height: 960px;
  margin-left: 60px;
  margin-top: 60px;
  >.img {
    padding-top: 167px;
    padding-left: 96.1px;
    width: 626px;
height: 626px;
opacity: 0.25;
box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
  }
}

#pages-header {
  align-items: center;
  height: 6.5rem;
  background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 1.5rem;
}

.cases_h1 {
  padding-top: 8.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.05em;
  color: $bcolor;
}

.case-row {
  align-items: center;
  margin-top: 32px;
  display: flex;
  justify-content: row;
  width: 1800px;
  height: 22.5rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
  backdrop-filter: blur(150px);
  border-radius: 24px;
}

.case {
  background: #FFFFFF;
  box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
  border-radius: 12px;
  width: 416px;
  height: 280px;
  margin-right: 24px;
    &:first-child {
      margin-left: 32px;
    }
    .cases-logo {
      width: 200px;
      height: 56px;
      margin: 24px;
    }
    .case-text {
      padding-left: 24px;
      font-family: Gotham Pro;
        .h1 {
          font-family: Gotham Pro;
          font-size: 18px;
line-height: 32px;
        }
        span {
          font-family: Gotham Pro;
          font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
        }
        .h5 {
          font-family: Gotham Pro;
          margin-top: 1rem;
          font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
        }
        a {
          color: $bcolor;
            &:hover {
              color: $mcolor;
            }
        }
        .details {
          font-family: Gotham Pro;
          font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
padding-top: 8px;
display: flex;
align-items: center;
          img {
            padding-left: 10.5px;
          }
        }
    }
  }
  .all-cases{
    width: 416px;
    height: 280px;
    background: $mcolor;
    box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
    border-radius: 12px;
    margin-right: 32px;
      .circle {
        width: 120px;
        height: 120px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        margin-top: 56px;
        margin-left: 148px;
      }
      .arrow {
        margin: 28px;
      }
      .all-cases-text {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 16px;
        text-align: center;
      }
  }

  .partners_h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
letter-spacing: 0.03em;
color: $bcolor;
  }

  .partners {
    width: 1800px;
    display: flex;
height: 200px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
align-items: center;
    img:first-child {
      padding-left: 80px;
        &:last-child {
          padding-right: 80px;
        }
    }
    img {
      padding-right: 162px;
    }
  }

/*
------------------------------------------------------------------------------------------------------------------


*/


@media screen and (max-width: 768px) {

  .header {
    width: 704px;
  }

  .content1 {
    margin-left: 32px;
    margin-top: 32px;
  }

  .cases_h1 {
    font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 56px;
  }

  .case-row {
    position: relative;
    max-width: 1800px;
    border-radius: 16px;
    height: 308px;
  }

  .case {
    height: 260px;
    width: 416px;
  }

  .all-cases {
    height: 260px;
    width: 416px;
  }

  .partners {
    height: 150px;
    width: 704px;
  }

  .partners_h1 {
    font-weight: 500;
font-size: 40px;
line-height: 56px;
margin-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {

  .content1 {
    margin: 0;
  }
  
  .header {
    margin: 0;
  }

  #pages-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 320px;
    height: 48px;
  }

  .cases_h1 {
    font-weight: 500;
font-size: 24px;
line-height: 32px;
margin-left: 16px;
padding-top: 80px;
  }

  .case-row {
    margin-top: 16px;
    margin-left: 16px;
  }

  .case {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
    border-radius: 12px;
    width: 224px;
    height: 208px;
    margin-right: 16px;
      &:first-child {
        margin-left: 16px;
      }
      .cases-logo {
        width: 128px;
        height: 32px;
        margin: 12px 0 8px 12px;
      }
      .case-text {
        padding-left: 14px;
          .h1 {
            font-weight: 500;
font-size: 18px;
line-height: 32px;
          }
          span {
            font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
          }
          .h5 {
            margin-top: 4px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
          }
          a {
            color: $bcolor;
              &:hover {
                color: $mcolor;
              }
          }
          .details {
            font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
  display: flex;
  align-items: center;
            img {
              padding-left: 10.5px;
            }
          }
      }
    }

    .case-row {
      height: 240px;
    }

    .partners_h1 {
      margin-left: 14px;
      font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
    }

    .partners {
      border-radius: 12px;
      margin-left: 14px;
      height: 67px;
      max-width: 280px;
        img {
          width: 112px;
          padding-right: 24px;
        }
        img:first-child {
          padding-left: 16px;
            &:last-child {
              padding-right: 16px;
            }
        }
    }
}